# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# don't ignore env examples
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

electronicstoreapi/target/
electronicstoreapi/uploads/

electronicstore/node_modules/
electronicstore/dist/
electronicstore/.env
electronicstore/.env.local
electronicstore/.env.development.local
electronicstore/.env.test.local
electronicstore/.env.production.local

electronicstoreadmin/node_modules/
electronicstoreadmin/dist/
electronicstoreadmin/.env
electronicstoreadmin/.env.local
electronicstoreadmin/.env.development.local
electronicstoreadmin/.env.test.local
electronicstoreadmin/.env.production.local

electronicstoreadmin/.env.development
electronicstoreadmin/.env.test
electronicstoreadmin/.env.production

# History folder
.history/
.history
node_modules
